<!DOCTYPE html>
<html>
  <head>
    <title>moneypenny</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
     <%= javascript_include_tag "https://newsapi.org/v2/top-headlines?country=us&category=business&apiKey=#{ENV['NEWS_API_KEY']}" %>
    <script type="text/javascript">
     window.down_arrow = "<%= image_url('icon-arrow-down.svg') %>"
     window.card = "<%= image_url('icon-card.svg') %>"
     window.chart = "<%= image_url('icon-chart.svg') %>"
     window.cap = "<%= image_url('icon-gradcap.svg') %>"
     window.house = "<%= image_url('icon-house.svg') %>"
     window.money = "<%= image_url('icon-money.svg') %>"
     window.x = "<%= image_url('icon-x.svg') %>"
     window.pencil = "<%= image_url('icon-gear-gray3.svg') %>"
     window.trashCan = "<%= image_url('trashCan.jpg') %>"
     window.hero_image = "<%= image_url('hero-image.jpg') %>"
     window.logo = "<%= image_url('logo.png') %>"
     window.house_dollar = "<%= image_url('house-dollar.png') %>"
     window.dial = "<%= image_url('dial.png') %>"
     window.checklist = "<%= image_url('check-list.png') %>"




    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>

